body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: larger;
}

.font {
  font-size: inherit;
  font-weight: inherit;
}

#inputTxt {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #5f9341;
  padding: 15px;
  outline: none;
  margin-bottom: 7px;
}
#inputTxt:focus {
  background-color: #e0ecf0;
}

#inputBtn {
  padding: 15px 25px;
  background-color: #5f9341;
  color: white;
}

#box {
  background-color: rgb(76 177 177);
  color: white;
  margin: 10px auto;
  width: 580px;
  text-align: center;
  /* height: 178px; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  padding: 77px 0;
}
