body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: small;
  min-width: 400px;
  max-width: 800px;
}

.styling {
  font-size: large;
  font-weight: 800;
  margin-bottom: 7px;
}

#inputTxt {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #5f9341;
  padding: 15px;
  outline: none;
}
#inputTxt:focus {
  background-color: #e0ecf0;
}

#inputBtn {
  padding: 15px 25px;
  background-color: #5f9341;
  color: white;
  border: 2px solid #5f9341;
}
#clearBtn {
  padding: 15px 25px;
  background-color: #fff;
  color: #5f9341;
  border: 2px solid #5f9341;
}

#box {
  background-color: rgb(76 177 177);
  color: white;
  margin: 10px auto;
  width: 580px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  padding: 77px 0;
}

#buyBtn {
  background-color: rgb(224, 131, 131);
  color: white;
  padding: 20px;
  border: none;
}

#leadsList {
  list-style: none;
  padding: 0;
}
#leadsList li {
  margin: 10px 0;
}
#leadsList a {
  color: #5f9341;
  font-size: small;
}
